<h1 class="message" *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}
</h1>
<ng-template #loggedOut>
  <form class="authentication-form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <h1 class="form-field">Login</h1>
    <mat-form-field class="form-field" appearance="fill" color="basic">
      <mat-label>Username</mat-label>
      <input type="text" matInput name="username" #username="ngModel" [(ngModel)]="form.username" required>
      <mat-error *ngIf="f.submitted && username.invalid && username.errors.required">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" #password="ngModel" [(ngModel)]="form.password" required>
      <ng-template *ngIf="f.submitted && password.invalid">
        <mat-error *ngIf="password.errors.required">Password is required</mat-error>
        <mat-error *ngIf="password.errors.minlength">Password must be at least 6 characters</mat-error>
      </ng-template>
    </mat-form-field>
    <button class="form-field" mat-raised-button color="primary" type="submit">Log in</button>
    <div>
      <h4>Don't have an account ?</h4>
      <a mat-button routerLink="/authentication/signup">Sign up</a>
    </div>
  </form>
  <h1 style="margin-top: 20px;" class="message" *ngIf="f.submitted && isLoginFailed">Signup failed: {{errorMessage}}</h1>
</ng-template>
